################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonthCalendar/obj
/MonthCalendar/bin/Debug/netcoreapp3.1
/MonthCalendar.Test/bin/Debug/netcoreapp3.1
/MonthCalendar.Test/obj
